@(org: com.gilt.quality.models.Organization,
  items: Seq[com.gilt.quality.models.AgendaItem],
  showTeam: Boolean = true
)

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      @if(showTeam) { <th>Team</th> }
      <th>Meeting</th>
      <th>Task</th>
      <th>Severity</th>
      <th>Plan</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    @items.map { item =>
     <tr>
       <td><a href="@routes.Incidents.show(org.key, item.incident.id, meetingId = Some(item.meeting.id))">@item.incident.id</a></td>
       @if(showTeam) {
         @item.incident.team.map { t =>
           <td><a href="@routes.Teams.show(org.key, t.key)">@t.key</a></td>
         }
       }
       <td><a href="@routes.Meetings.show(org.key, item.meeting.id)">@core.DateHelper.shortDate(org, item.meeting.scheduledAt)</a></td>
       <td>@core.Defaults.taskLabel(item.task)</td>
       <td>@item.incident.severity</td>
       <td>@incidents.incidentPlan(item.incident)</td>
       <td>@item.incident.summary</td>
     </tr>
   }
  </tbody>
</table>
