@(tpl: lib.MainTemplate,
  team: com.gilt.quality.models.Team,
  stats: Option[com.gilt.quality.models.Statistic],
  memberSummary: com.gilt.quality.models.TeamMemberSummary,
  agendaItems: lib.PaginatedCollection[com.gilt.quality.models.AgendaItem],
  members: lib.PaginatedCollection[com.gilt.quality.models.TeamMember],
  isMember: Boolean
)(implicit flash: Flash)

@main(tpl.copy(title = Some(s"Team ${team.key}"))) {

  <div class="pull-right">
    <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Incidents.create(team.organization.key, teamKey = Some(team.key))">Create Incident</a>
  </div>

  <ul>
    <li>Email: @team.email.getOrElse("N/A")</li>
    <li>Smiley Icon: @Html(lib.GradeImage.imageTag(Some(team), Some(lib.GradeImage.Good)))</li>
    <li>Frowny Icon: @Html(lib.GradeImage.imageTag(Some(team), Some(lib.GradeImage.Bad)))</li>
  </ul>


  <ul>
    <li><a href="@routes.Incidents.index(team.organization.key, team_key = Some(team.key))">View incidents</a></li>
    <li><a href="@routes.Teams.edit(team.organization.key, team.key)">Edit</a></li>
    <li><a href="@routes.Teams.postDeleteByKey(team.organization.key, team.key)" class="delete" data-confirm="Are you sure to delete this team?">Delete</a></li>
  </ul>

  <h3>Statistics over past 12 weeks</h3>
  @if(stats.isEmpty) {
    <em>None</em>
  } else {
    <li>Average Grade: @Html(lib.GradeImage.imageTag(Some(team), stats.get.averageGrade))</li>
    <li>Total Incidents: <a href="@routes.Incidents.index(team.organization.key, team_key = Some(team.key))">@stats.get.totalIncidents</a></li>
    <li>Total Open Incidents: <a href="@routes.Incidents.index(team.organization.key, team_key = Some(team.key), has_plan = Some("0"))">@stats.get.totalOpenIncidents</a></li>
  }

  <h3>Active Incidents</h3>
  @if(agendaItems.isEmpty) {
    <em>None</em>
  } else {
    @agendaItemsTable(team.organization, agendaItems.items, showTeam = false)

    @if(agendaItems.hasPrevious || agendaItems.hasNext) {
      <ul class="pager">
        @if(agendaItems.hasPrevious) {
          <li><a href="@routes.Teams.show(team.organization.key, team.key, agendaItems.page - 1, members.page)">Previous</a></li>
        }
        @if(agendaItems.hasNext) {
          <li><a href="@routes.Teams.show(team.organization.key, team.key, agendaItems.page + 1, members.page)">Next</a></li>
        }
      </ul>
    }

  }

  <h3>Members (@java.text.NumberFormat.getIntegerInstance.format(memberSummary.numberMembers))</h3>
  <div class="pull-right">
    <span class="glyphicon glyphicon-plus"></span> <a href="@routes.TeamMembers.add(team.organization.key, team.key)">Add Member</a>
    @if(isMember) {
      <span class="glyphicon glyphicon-plus"></span> <a class="postForm" href="@routes.TeamMembers.postRemove(team.organization.key, team.key)">Leave team</a>
    } else {
      <span class="glyphicon glyphicon-plus"></span> <a class="postForm" href="@routes.TeamMembers.postJoin(team.organization.key, team.key)">Join team</a>
    }
  </div>

  @if(members.isEmpty) {
    <em>No members found</em>
  } else {
    @views.html.team_members.membersTable(team, members.items)
  
    @if(members.hasPrevious || members.hasNext) {
      <ul class="pager">
        @if(members.hasPrevious) {
          <li><a href="@routes.Teams.show(team.organization.key, team.key, agendaItems.page, members.page - 1)">Previous</a></li>
        }
        @if(members.hasNext) {
          <li><a href="@routes.Teams.show(team.organization.key, team.key, agendaItems.page, members.page + 1)">Next</a></li>
        }
      </ul>
    }
  }
}
