@(
  org: com.gilt.quality.v0.models.Organization,
  teams: Seq[com.gilt.quality.v0.models.Team]
)

@if(teams.isEmpty) {
  <em>No teams found</em>
} else {
  <table class="table table-hover table-condensed">
    <thead>
     <tr>
       <td>Team</td>
       <td>Email</td>
       <td>Smiley</td>
       <td>Frowny</td>
       <td># Members</td>
     </tr>
    </thead>
    <tbody>
      @teams.map { team =>
       <tr>
         <td><a href="@routes.Teams.show(org.key, team.key)">@team.key</a></td>
         <td>@team.email.getOrElse("N/A")</td>
         <td>@Html(lib.GradeImage.imageTag(Some(team), Some(lib.GradeImage.Good)))</td>
         <td>@Html(lib.GradeImage.imageTag(Some(team), Some(lib.GradeImage.Bad)))</td>
         <td><span class="team_number_members" teamKey="@{team.key}" id="team_@{team.key}_number_members"><em>pending</em></span></td>
       </tr>
     }
    </tbody>
  </table>
}
