@(tpl: lib.MainTemplate,
  section: Option[String] = None,
  errorMessage: Option[String] = None,
  jsFiles: Seq[String] = Seq.empty
)(content: Html)(implicit flash: Flash)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@tpl.headTitle.getOrElse(tpl.title.getOrElse("quality"))</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-3.3.1/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
  </head>

  <body data-spy="scroll" data-target=".models">

    @mainNavbar(tpl.user)

    <div class="container-fluid">
      <div class="row">

        @tpl.org.map { o =>
          <div class="col-sm-3 col-md-2 sidebar models">
            <ul class="nav nav-sidebar">
              <li><a@if(section == Some("dashboard")) { class="active" } href="@routes.Dashboard.index(o.key)">Dashboard</a></li>
              <li><a@if(section == Some("meetings")) { class="active" } href="@routes.Meetings.index(o.key)">Meetings</a></li>
              <li><a@if(section == Some("incidents")) { class="active" } href="@routes.Incidents.index(o.key)">Incidents</a></li>
              <li><a@if(section == Some("teams")) { class="active" } href="@routes.Teams.index(o.key)">Teams</a></li>
              <li><a@if(section == Some("subscriptions")) { class="active" } href="@routes.Subscriptions.index(o.key)">Subscriptions</a></li>
            </ul>
          </div>
        }

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          @flash.get("success").map { msg => <span class="label label-success">@msg</span> }
          @flash.get("warning").map { msg => <span class="label label-warning">@msg</span> }
          @flash.get("error").map { msg => <span class="label label-error">@msg</span> }

          @tpl.title.map { t => <h2>@t</h2> }

          @errorMessage.map { msg => <dd class="error">@msg</dd> }

          <p>@content</p>

        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="@routes.Assets.at("bootstrap-3.3.1/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/util.js")" type="text/javascript"></script>
    @jsFiles.map { js =>
      <script src="@routes.Assets.at(s"javascripts/$js")" type="text/javascript"></script>
    }
  </body>
</html>
