@(tpl: lib.MainTemplate,
  org: com.gilt.quality.models.Organization,
  statistics: Seq[com.gilt.quality.models.Statistic],
  agendaItems: lib.PaginatedCollection[com.gilt.quality.models.AgendaItem]
)(implicit flash: Flash)

@main(tpl, section = Some("dashboard")) {

  <div class="pull-right">
    <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Incidents.create(org.key)">Create Incident</a>
    <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Teams.create(org.key)">Add team</a>
  </div>

  <h3>Your Active Incidents</h3>
  @if(agendaItems.isEmpty) {
    <em>None</em>
  } else {
    @teams.agendaItemsTable(org, agendaItems.items)

    @if(agendaItems.hasPrevious || agendaItems.hasNext) {
      <ul class="pager">
        @if(agendaItems.hasPrevious) {
          <li><a href="@routes.Dashboard.index(org.key, agendaItems.page - 1)">Previous</a></li>
        }
        @if(agendaItems.hasNext) {
          <li><a href="@routes.Dashboard.index(org.key, agendaItems.page + 1)">Next</a></li>
        }
      </ul>
    }
  }

  <h3>Team Summary over Past Week</h3>
  <table class="table table-hover table-condensed">
    <tbody>
      @statistics.map { statistic =>
       <tr>
        <td>
          <a href="@routes.Teams.show(org.key, statistic.team.key)">@statistic.team.key</a><br />
          Average Grade: @Html(lib.GradeImage.imageTag(Some(statistic.team), statistic.averageGrade))<br/>
          Total Incidents: <a href="@routes.Incidents.index(org.key, team_key = Some(statistic.team.key))">@statistic.totalIncidents</a><br />
          Total Open Incidents: <a href="@routes.Incidents.index(org.key, team_key = Some(statistic.team.key), has_plan = Some("0"))">@statistic.totalOpenIncidents</a><br />
        </td>
        <td>
          @statistic.plans.map { plan =>
            <a href="@routes.Incidents.show(org.key, plan.incidentId)">@Html(lib.GradeImage.imageTag(Some(statistic.team), plan.grade))</a>
          }
        </td>
       </tr>
     }
    </tbody>
  </table>
}
