@(statistics: Seq[quality.models.Statistic],
  events: Seq[quality.models.Event]
)(implicit flash: Flash)

@main(title = "Gilt Quality", section = Some("dashboard")) {

  <div class="pull-right">
    <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Incidents.create()">Create Incident</a>
    <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Teams.create()">Add team</a>
  </div>

  <h2>Latest Events</h2>
  @if(events.isEmpty) {
     <em>No new events in last 24 hours</em>
  } else {
    <table class="table table-hover table-condensed">
      <tbody>
        @events.map { event =>
          <tr>
            <td>@org.joda.time.format.DateTimeFormat.longDateTime.print(event.timestamp)
            @{event.model match {
              case quality.models.Event.Model.Incident => Html(s"<a href='${event.url.getOrElse("")}'>${event.action} Incident #${event.data.modelId}: ${event.data.summary}</a>")
              case quality.models.Event.Model.Plan => Html(s"<a href='${event.url.getOrElse("")}'>${event.action} ${event.data.summary}</a>")
              case quality.models.Event.Model.Rating => Html(s"<a href='${event.url.getOrElse("")}'>${event.action} ${event.data.summary}</a>")
              case quality.models.Event.Model.UNDEFINED(name) => s"$name"
            }}
            </td>
         </tr>
       }
      </tbody>
    </table>
  }

  <h2>Team Summary over Past Week</h2>
  <table class="table table-hover table-condensed">
    <tbody>
      @statistics.map { statistic =>
       <tr>
        <td>
          <a href="@routes.Teams.show(statistic.team.key)">@statistic.team.key</a><br />
          Average Grade: @Html(lib.GradeImage.imageTag(statistic.averageGrade))<br/>
          Total Incidents: <a href="@routes.Incidents.index(team_key = Some(statistic.team.key))">@statistic.totalIncidents</a><br />
          Total Open Incidents: <a href="@routes.Incidents.index(team_key = Some(statistic.team.key), has_plan = Some("0"))">@statistic.totalOpenIncidents</a><br />
        </td>
        <td>
          @statistic.plans.map { plan =>
            <a href="@routes.Incidents.show(plan.incidentId)">@Html(lib.GradeImage.imageTag(plan.grade))</a>
          }
        </td>
       </tr>
     }
    </tbody>
  </table>
}
