@(teamStatistics: Seq[quality.models.TeamStatistic],
  events: Seq[quality.models.Event]
)(implicit flash: Flash)

@main(title = "Gilt Quality", section = Some("dashboard")) {

  <div class="pull-right">
    <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Incidents.create()">Create Incident</a>
    <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Teams.create()">Add team</a>
  </div>

  <h2>Latest Events</h2>
  <table class="table table-hover table-condensed">
    <tbody>
      @events.map { event =>
        <tr>
          <td>@event.timestamp</td>
          <td>@event.action</td>
          @{event.model match {
            case quality.models.Event.Model.Incident => Html(s"<td><a href='${event.url.getOrElse("")}'>Incident #${event.data.modelId}: ${event.data.summary}</a></td>")
            case quality.models.Event.Model.Plan => Html(s"<td><a href='${event.url.getOrElse("")}'>${event.data.summary}</a></td>")
            case quality.models.Event.Model.Rating => Html(s"<td><a href='${event.url.getOrElse("")}'>${event.data.summary}</a></td>")
            case quality.models.Event.Model.UNDEFINED(name) => Html(s"<td>$name</td>")
          }}
       </tr>
     }
    </tbody>
  </table>

  <h2>Teams</h2>
  <table class="table table-hover table-condensed">
    <tbody>
      @teamStatistics.map { teamStatistic =>
       <tr>
        <td>
          <a href="@routes.Teams.show(teamStatistic.team.key)">@teamStatistic.team.key</a><br />
          Average Grade: @Html(lib.GradeImage(teamStatistic.averageGrade).imageTag())<br />
          Total Incidents: @teamStatistic.totalIncidents<br />
          Total Open Incidents: @teamStatistic.totalOpenIncidents<br />
        </td>
        <td>
          @teamStatistic.plans.map { plan =>
            @Html(lib.GradeImage(plan.grade).imageTag())
          }
        </td>
       </tr>
     }
    </tbody>
  </table>
}
