@(name: String,
  label: String,
  value: Option[String])

<label class="filter-label" for="@name">@label:</label>

<span class="input-fields-wrapper">
  <input type="radio" name="@name" id="@{name}_none" value=""@if(value == None) { checked }>
    <label for="@{name}_none">Either</label>
  </input>
    
  <input type="radio" name="@name"  id="@{name}_1" value="1"@if(value == Some("1")) { checked }>
    <label for="@{name}_1">Yes</label>
  </input>

  <input type="radio" name="@name"  id="@{name}_0" value="0"@if(value == Some("0")) { checked }>
    <label for="@{name}_0">No</label>
  </input>
</span>

