@(tpl: lib.MainTemplate,
  org: com.gilt.quality.v0.models.Organization,
  incident: com.gilt.quality.v0.models.Incident,
  teams: Seq[com.gilt.quality.v0.models.Team],
  form: Form[controllers.Incidents.UiForm])(implicit flash: Flash)

@main(tpl.copy(title = Some(s"Edit Incident ${incident.id}"))) {

  <div class="container">

    @helper.form(action = routes.Incidents.postEdit(org.key, incident.id)) {

      @incidentForm(form, routes.Incidents.show(org.key, incident.id), teams)

    }

  </div>

}

