@(org: com.gilt.quality.models.Organization,
  incidents: Seq[com.gilt.quality.models.Incident],
  meeting: Option[com.gilt.quality.models.Meeting] = None
)

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Created</th>
      <th>Severity</th>
      <th>Plan</th>
      <th>Team</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    @incidents.map { incident =>
     <tr>
       <td><a href="@routes.Incidents.show(org.key, incident.id, meetingId = meeting.map(_.id))">@incident.id</a></td>
       <td>@core.DateHelper.shortDate(org, incident.createdAt)</td>
       <td>@incident.severity</td>
       <td>@incidentPlan(incident)</td>
       <td>
         @if(incident.team.isEmpty) {
	   "N/A"
         } else {
           <a href="@routes.Teams.show(org.key, incident.team.get.key)">@incident.team.get.key</a>
         }
       </td>
       <td>@incident.summary</td>
     </tr>
   }
  </tbody>
</table>
