@(form: Form[controllers.Incidents.UiForm],
  cancelUrl: play.api.mvc.Call,
  teams: Seq[com.gilt.quality.v0.models.Team])(implicit flash: Flash)

<fieldset>

    @if(teams.isEmpty) {
        @helper.inputText(
            form("teamKey"),
            '_label -> "Team",
            '_error -> form.error("teamKey")
        )
    } else {
        @helper.select(
            form("teamKey"),
            Seq( ("" -> "-- select --") ) ++ teams.map( t => (t.key -> t.key) ),
            '_label -> "Team",
            '_error -> form.error("teamKey")
        )
    }

    @helper.select(
        form("severity"),
        Seq( ("" -> "-- select --") ) ++ com.gilt.quality.v0.models.Severity.all.map( v => (v.toString -> v.toString) ),
        '_label -> "Severity",
        '_error -> form.error("severity")
    )

    @helper.inputText(
        form("summary"),
        '_label -> "Summary",
        '_error -> form.error("summary")
    )

    @helper.input(field = form("description"), '_label -> "Description", '_error -> form.error("description")) { (id, name, value, args) =>
      <textarea name="@name" id="@id" @toHtmlArgs(args) rows="25" cols="80">@value</textarea>
      <span class="help-block"><a href="https://code.google.com/p/markdown4j/#Using_Markdown4j">Markdown reference</a></span>
    }

    @helper.inputText(
        form("tags"),
        '_label -> "Tags (space separated)",
        '_error -> form.error("tags")
    )

</fieldset>


<div class="actions">
  <button class="btn btn-large btn-primary" type="submit">Submit</button>
  <a href="@cancelUrl" class="btn">Cancel</a>
</div>

