@(incidents: Seq[quality.models.Incident])

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Created</th>
      <th>Severity</th>
      <th>Plan</th>
      <th>Team</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    @incidents.map { incident =>
     <tr>
       <td><a href="@routes.Incidents.show(incident.id)">@incident.id</a></td>
       <td>@incident.createdAt</td>
       <td>@incident.severity</td>
       <td>
         @if(incident.plan.isEmpty) {
           - 
         } else {
           @if(incident.plan.get.grade.isEmpty) {
             Uploaded
           } else {
             @Html(lib.GradeImage.imageTag(incident.plan.get.grade.get))
           }
         }
       </td>
       <td>@incident.team.map(_.key).getOrElse("")</td>
       <td>@incident.summary</td>
     </tr>
   }
  </tbody>
</table>
