@(filters: controllers.Incidents.Filters,
  incidents: lib.PaginatedCollection[quality.models.Incident]
)(implicit flash: Flash)

@main(title = "Perfect Day Incidents", section = Some("incidents")) {

  <div class="pull-right">
    <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Incidents.create()">Add incident</a>
  </div>

  <form role="form">
    <div class="form-group">
      <label for="teamKey">Team key</label>
      <input type="text" name="team_key" class="form-control" id="teamKey" value="@filters.teamKey.getOrElse("")">
      <label for="hasPlan">Has plan?</label>
      <input type="text" name="has_plan" class="form-control" id="hasPlan" value="@filters.hasPlan.getOrElse("")">
      <label for="hasGrade">Has grade?</label>
      <input type="text" name="has_grade" class="form-control" id="hasGrade" value="@filters.hasGrade.getOrElse("")">
    </div>
    <button type="submit" class="btn btn-default">Filter</button>
  </form>

  @if(incidents.isEmpty) {
    <em>No incidents found</em>
  } else {
    @incidentsTable(incidents.items)
  
    @if(incidents.hasPrevious || incidents.hasNext) {
      <ul class="pager">
        @if(incidents.hasPrevious) {
          <li><a href="@routes.Incidents.index(filters.teamKey, filters.hasPlan, filters.hasGrade, incidents.page - 1)">Previous</a></li>
        }
        @if(incidents.hasNext) {
          <li><a href="@routes.Incidents.index(filters.teamKey, filters.hasPlan, filters.hasGrade, incidents.page + 1)">Next</a></li>
        }
      </ul>
    }
  }

}
  
