@(tpl: lib.MainTemplate,
  org: com.gilt.quality.models.Organization,
  filters: controllers.Incidents.Filters,
  incidents: lib.PaginatedCollection[com.gilt.quality.models.Incident],
  teams: Seq[com.gilt.quality.models.Team]
)(implicit flash: Flash)

@main(tpl.copy(title = Some("Perfect Day Incidents")), section = Some("incidents")) {

  <div class="pull-right">
    <span class="glyphicon glyphicon-plus"></span> <a href="@routes.Incidents.create(org.key)">Add incident</a>
  </div>

  <form role="form">
    <div class="form-group">
      @teamSelect(teams, filters.teamKey)
      @booleanFilter("has_team", "Has team?", filters.hasTeam)
      @booleanFilter("has_plan", "Has plan?", filters.hasPlan)
      @booleanFilter("has_grade", "Has grade?", filters.hasGrade)
      <button type="submit" class="btn btn-default">Filter</button>
    </div>
  </form>

  @if(incidents.isEmpty) {
    <em>No incidents found</em>
  } else {
    @incidentsTable(org, incidents.items)
  
    @if(incidents.hasPrevious || incidents.hasNext) {
      <ul class="pager">
        @if(incidents.hasPrevious) {
          <li><a href="@routes.Incidents.index(org.key, filters.teamKey, filters.hasTeam, filters.hasPlan, filters.hasGrade, incidents.page - 1)">Previous</a></li>
        }
        @if(incidents.hasNext) {
          <li><a href="@routes.Incidents.index(org.key, filters.teamKey, filters.hasTeam, filters.hasPlan, filters.hasGrade, incidents.page + 1)">Next</a></li>
        }
      </ul>
    }
  }

}
  
