@(incident: quality.models.Incident,
  plan: Option[quality.models.Plan]
)(implicit flash: Flash)

@main(title = s"Incident ${incident.summary}") {

  <a href="@routes.Incidents.edit(incident.id)">Edit</a> |
  <a href="@routes.Incidents.postDeleteById(incident.id)" class="delete" data-confirm="Are you sure to delete this incident?">Delete</a>

  <ul>
    <li>Team: <a href="@routes.Teams.show(incident.team.key)">@incident.team.key</a></li>
    <li>Severity: @incident.severity</li>
    <li>Plan:
        @if(plan.isEmpty) {
          N/A
        } else {
          <a href="#plan">See below</a>
        }
        (<a href="@routes.Plans.uploadByIncidentId(incident.id)">Upload</a>)
    </li>
    <li>Tags:
      @if(incident.tags.isEmpty) {
        <em>N/A</em>
      } else {
        @Html(incident.tags.mkString("<ul><li>", "</li><li>", "</li></ul>"))
      }
    </li>
  </ul>

  <div class="markdown">
    @incident.description.map { desc =>
      @Html(util.Markdown.toHtml(desc))
    }
  </div>

  @plan.map { rep =>
    <a name="plan"></a>   
    <div class="markdown">
      @Html(util.Markdown.toHtml(rep.body))
    </div>
  }

}
