@(incident: quality.models.Incident)(implicit flash: Flash)

@main(title = s"Incident ${incident.summary}") {

  <a href="@routes.Incidents.edit(incident.id)">Edit</a> |
  <a href="@routes.Incidents.postDeleteById(incident.id)" class="delete" data-confirm="Are you sure to delete this incident?">Delete</a>

  <ul>
    <li>Team: @incident.teamKey</li>
    <li>Severity: @incident.severity</li>
    <li>Tags:
      @if(incident.tags.isEmpty) {
        <em>N/A</em>
      } else {
        @Html(incident.tags.mkString("<ul><li>", "</li><li>", "</li></ul>"))
      }
    </li>
  </ul>

  <div class="incident">
    @incident.description.map { desc =>
      @Html(util.Markdown.toHtml(desc))
    }
  </div>

}
