@(org: com.gilt.quality.models.Organization,
  incident: com.gilt.quality.models.Incident,
  form: Form[controllers.Plans.UiForm],
  errorMessage: Option[String] = None
)(implicit flash: Flash)

@main(org = Some(org), title = s"Upload Prevention Plan for Incident ${incident.id}", errorMessage = errorMessage) {

  @helper.form(action = routes.Plans.postUploadByIncidentId(org.key, incident.id)) {
    <fieldset>
      @helper.input(field = form("body"), '_label -> "Plan to Prevent Recurrence", '_error -> form.error("body")) { (id, name, value, args) =>
        <textarea name="@name" id="@id" @toHtmlArgs(args) rows="25" cols="80">@value</textarea>
        <span class="help-block"><a href="https://code.google.com/p/markdown4j/#Using_Markdown4j" target="_blank">Markdown reference</a></span>
      }
    </fieldset>

    <div class="actions">
      <button class="btn btn-large btn-primary" type="submit">Submit</button>
      <a href="@routes.Incidents.show(org.key, incident.id)" class="btn">Cancel</a>
    </div>
  }

}
