@(org: com.gilt.quality.models.Organization,
  meetings: lib.PaginatedCollection[com.gilt.quality.models.Meeting]
)(implicit flash: Flash)

@main(org = Some(org), title = "Meetings", section = Some("meetings")) {

  @if(meetings.isEmpty) {
    <em>No meetings found</em>
  } else {
    <table class="table table-hover table-condensed">
      <tbody>
        @meetings.items.map { meeting =>
         <tr>
           <td><a href="@routes.Meetings.show(org.key, meeting.id)">@_root_.org.joda.time.format.DateTimeFormat.shortDate.print(meeting.scheduledAt)</a></td>
         </tr>
       }
      </tbody>
    </table>

   @if(meetings.hasPrevious || meetings.hasNext) {
     <ul class="pager">
       @if(meetings.hasPrevious) {
         <li><a href="@routes.Meetings.index(org.key, meetings.page - 1)">Previous</a></li>
       }
       @if(meetings.hasNext) {
         <li><a href="@routes.Meetings.index(org.key, meetings.page + 1)">Next</a></li>
       }
      </ul>
    }
  }

}
