@(tpl: lib.MainTemplate,
  org: com.gilt.quality.v0.models.Organization,
  meeting: com.gilt.quality.v0.models.Meeting,
  reviewTeams: lib.PaginatedCollection[com.gilt.quality.v0.models.AgendaItem],
  reviewPlans: lib.PaginatedCollection[com.gilt.quality.v0.models.AgendaItem]
)(implicit flash: Flash)

@main(tpl.copy(title = Some(s"Meeting on ${core.DateHelper.shortDate(org, meeting.scheduledAt)}"))) {

  @meeting.adjournedAt.map { adjournedAt =>
    <em>Meeting adjourned: @core.DateHelper.longDateTime(org, adjournedAt)</em>
  }

  @if(meeting.adjournedAt.isEmpty && meeting.scheduledAt.isBeforeNow) {
    <p>
      <a class="btn btn-primary postForm" href="@routes.Meetings.postAdjournById(org.key, meeting.id)">Adjourn this meeting</a>
    </p>
  }

  <ul>
    <li><a href="@routes.Meetings.postDeleteById(org.key, meeting.id)" class="delete" data-confirm="Are you sure to delete this meeting?">Delete</a></li>
  </ul>

  <h3>Incidents pending team review</h3>
  @if(reviewTeams.isEmpty) {
    <em>None</em>
  } else {
    @views.html.incidents.incidentsTable(org, reviewTeams.items.map(_.incident), meeting = Some(meeting))
  
    @if(reviewTeams.hasPrevious || reviewTeams.hasNext) {
      <ul class="pager">
        @if(reviewTeams.hasPrevious) {
          <li><a href="@routes.Meetings.show(org.key, meeting.id, reviewTeams.page - 1, reviewPlans.page)">Previous</a></li>
        }
        @if(reviewTeams.hasNext) {
          <li><a href="@routes.Meetings.show(org.key, meeting.id, reviewTeams.page + 1, reviewPlans.page)">Next</a></li>
        }
      </ul>
    }
  }

  <h3>Incidents pending plan review</h3>
  @if(reviewPlans.isEmpty) {
    <em>None</em>
  } else {
    @views.html.incidents.incidentsTable(org, reviewPlans.items.map(_.incident), meeting = Some(meeting))
  
    @if(reviewPlans.hasPrevious || reviewPlans.hasNext) {
      <ul class="pager">
        @if(reviewPlans.hasPrevious) {
          <li><a href="@routes.Meetings.show(org.key, meeting.id, reviewTeams.page, reviewPlans.page - 1)">Previous</a></li>
        }
        @if(reviewPlans.hasNext) {
          <li><a href="@routes.Meetings.show(org.key, meeting.id, reviewTeams.page, reviewPlans.page + 1)">Next</a></li>
        }
      </ul>
    }
  }

}
